<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayou7995.facelock">


    <!--系統完成啓動後發出ACTION_BOOT_COMPLETE廣播訊息-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--要求一定要有相機-->
    <uses-permission android:name="android.hardware.camera.any"/>
    <!--啓動照相設備請求-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--寫入外部儲存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--訪問振動器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--照片GPS存取定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- API 21 以上要求使用 GPS -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape"
        android:installLocation="internalOnly">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <receiver
            android:name="com.example.ayou7995.facelock.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWEROFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWEROFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>